header{
    background: url("../images/h4.jpg");
    background-size: cover;
    background-position: center;
    min-height: 800px;
}


.container {
    width: 80%;
}

.col > div{
    background: ffccbc;
    
}

.brand-logo {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}

h3 {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}

.flow-text {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}

ul.a {
    list-style-type: circle;
}


li{
    font-size: 20px;
}

#map{
    height:400px;
    widows: 100%;
}


#zip-container {
    width: 22%;
    margin-top: 350px;
}

#button {
    float: right;
}

#add-review-button {
    float: right;
}

ul.dropdown-content.select-dropdown li span {
    color: #000; 
}


.section{
    padding-top: 4vw;
    padding-bottom: 4vw;
}
.tabs .indicator{
    background-color: black;
}
.tabs .tab a:focus, .tabs .tab a:focus.active{
    background: transparent;
}

#locationDiv {
    padding-bottom: 200px;
}


#locationScroll {
    max-height: 300px;
    overflow-y: scroll;
}

#reviews {
    overflow-y: scroll;
    /* border: 1 solid black; */
    margin-left: 10px;
    margin-right: 10px;
    max-height: 500px;
}
#review-details {
    border: 1px solid gray;
    /* margin: 10px; */
    padding: 5px;
}
#review-data {
    max-height: 300px;
    overflow-y: scroll;
}

#bar-chart {
    padding-top: 50px;
}

@media screen and (max-width: 670px){
    header{
      min-height: 500px;
    }
}

@media screen and (max-width: 603px){
  input.select-dropdown.dropdown-trigger{
        font-size: 1em;
    }
} 


@media screen and (max-width: 507px){
    .brand-logo.deep-orange-text.text-darken-4{
        font-size: 1.5em;
    }
    input.select-dropdown.dropdown-trigger{
        font-size: .8em;
    }
}

/* .gm-style-iw-d, .gm-style-iw {
    max-height: 300px !important
 } */